<% if @cities.nil? %>
  <p>Por favor informe a categoria da propriedade</p>
<% else %>
  <table>
    <thead>
      <tr>
        <td>Ranking</td>
        <td>Cidade</td>
        <td>N&deg; de Hab.</td>
        <td>PIB</td>
        <td>Total de Prop.</td>
        <td>Prop/Hab</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
<% end %>
