<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAao9iIgQWyBdSNN1DP1fm4F6uZK1WYrqg&libraries=geometry,places"></script>

<script>
						<!--
						jQuery(function() {

							var map = null;

							var dataLocations = [
								{
									"lat": '-15.6025961',
									"lng": '-56.0975243',
									"title": 'Escola Estadual Teste 1',
									"city": 'Cuiabá',
									"area": 'Educação',
									"imageUrl": 'http://placehold.it/350x150',
									"icon": 'icon_blue.png',
								},
								{
									"lat": '-15.6025980',
									"lng": '-56.0975260',
									"title": 'Escola Estadual Teste 2',
									"city": 'Cuiabá',
									"area": 'Educação',
									"imageUrl": 'http://placehold.it/350x150',
									"icon": 'icon_red.png',
								}
							]

							function initMap() {

								var center = {lat:-15.6025961, lng:-56.0975243};

							  map = new google.maps.Map(document.getElementById('mainmap'), {
							    center: center,
							    scrollwheel: false,
							    zoom: 12
							  });					 


								//Create and open InfoWindow.
								var infoWindow = new google.maps.InfoWindow();

								for (var i = 0; i < dataLocations.length; i++) {
								    var data = markers[i];
								    var myLatlng = new google.maps.LatLng(data.lat, data.lng);
								    var marker = new google.maps.Marker({
								        position: myLatlng,
								        map: map,
								        title: data.title
								    });

								    //Attach click event to the marker.
								    (function (marker, data) {
								        google.maps.event.addListener(marker, "click", function (e) {
								            //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
								            infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
								            infoWindow.open(map, marker);
								        });
								    })(marker, data);
								}
								
								// var latLng90 = {lat:-15.6025961, lng:-56.0975243};
								
								
								// var contString90 = '<div id="content">'+
						  //     '<h3><strong>Escola Estadual teste1</strong></h3>'+
						  //     '<p>Cidade: teste</p>'+
						  //   	'<p>Área de Atuação: Educação</p>'+
						  //   	'<div><img src="http://placehold.it/350x150" alt="" /></div>'+
						  //   	'<hr>'+
						  //   	'<div><a href="#" class="btn btn-primary">Mais Detalhes</a></div>'+
						  //     '</div>';
								// var infowindow90 = new google.maps.InfoWindow({
								// 	content: contString90								});

								// var icon90 = '/assets/icon_blue.png';

							 //  var marker90 = new google.maps.Marker({
							 //    map: map,
							 //    icon: icon90,
							 //    position: latLng90,
							 //    title: 'Escola Estadual teste1'
							 //  });

							 //  marker90.addListener('click', function() {
    				// 			infowindow90.open(map, marker90);
    				// 			map.panTo(latLng90);
  						// 	});
							}

							google.maps.event.addDomListener(window, "load", initMap);							

							function moveToLocation(lat, lng){
							    var center = new google.maps.LatLng(lat, lng);
							    map.panTo(center);
							}

							// jQuery('.centermap').click(function(){
							// 	var latVar = jQuery(this).data("lat");
							// 	var lngVar = jQuery(this).data("lng");
							// 	moveToLocation(latVar, lngVar);
							// })

						});
						-->
					</script>

<div class="mainmap-container">

		<div class="mainmap-box">
			<div id="mainmap"></div>
		</div>
		<div class="mainmap-list-top">
			
			<div class="top-proposals">
				<div class="top-proposals-item">
					<div class="top-proposals-image"><img src="http://placehold.it/350x150" alt="" class="img-responsive"></div>
					<div class="top-proposals-info">
						<div class="top-proposals-title"><strong>Escola Estadual Teste 1</strong></div>
						<div class="top-proposals-meta">9999 Votos <span class="label">75% Positivo</span></div>
					</div>
				</div>
			</div>

		</div>

</div>

