<%= render 'mainmap' %>
<section class="propostas-home">
	<div class="row">
			<div class="col-sm-6">
				<h1>Propostas do Governo</h1>
				<div class="proposta proposta-success">
					<div class="proposta-section">
						<h3><a href="#">Escola de Ensino Fundamental</a></h3>
					</div>
					<div class="proposta-desc">
						<%= fa_icon 'map-marker' %>
						<div class="proposta-writer">
							<div class="proposta-writer-name">Cuiabá</div>
							<div class="proposta-writer-designation">Secretaria de Educação</div>
							<span class="proposta-date">05/11/2016</span>
						</div>
					</div>
				</div> 

				<div class="proposta proposta-warning">
					<div class="proposta-section">
						<h3><a href="#">Escola de Ensino Fundamental</a></h3>
					</div>
					<div class="proposta-desc">
						<%= fa_icon 'map-marker' %>
						<div class="proposta-writer">
							<div class="proposta-writer-name">Cuiabá</div>
							<div class="proposta-writer-designation">Secretaria de Educação</div>
							<span class="proposta-date">05/11/2016</span>
						</div>
					</div>
				</div>   

				<div class="proposta proposta-danger">
					<div class="proposta-section">
						<h3><a href="#">Escola de Ensino Fundamental</a></h3>
					</div>
					<div class="proposta-desc">
						<%= fa_icon 'map-marker' %>
						<div class="proposta-writer">
							<div class="proposta-writer-name">Cuiabá</div>
							<div class="proposta-writer-designation">Secretaria de Educação</div>
							<span class="proposta-date">05/11/2016</span>
						</div>
					</div>
				</div>  
			</div>
			<div class="col-sm-6">
				<h1>Propostas do Sociedade</h1>
			</div>
		</div>	
</section>