<%= render 'mainmap' %>
<section class="container propostas-home">
	<div class="row">
			<div class="col-sm-6">
				<h1>Propostas do Governo</h1>
			</div>
			<div class="col-sm-6">
				<h1>Propostas do Sociedade</h1>
			</div>
		</div>	
</section>