@import "bootstrap-sprockets";
@import "bootstrap";

/* -------------------------------- 
MeuGov
-------------------------------- */

/* -------------------------------- 
Variaveis
-------------------------------- */

$color-1: #152e75; // BLUE
$color-2: #e28624; // ORANGE
$color-3: #ffffff; // WHITE
$color-4: #ECF0F1; // ANTI-FLASH WHITE

// fonts 
$primary-font: 'Roboto', sans-serif;

// header size
$header-height-small: 60px;
$header-height: 80px;

$secondary-nav-height-small: 50px;
$secondary-nav-height: 70px;


/* -------------------------------- 
Mixins
-------------------------------- */
// Align absolute
@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}

// border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// clearfix

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

// color tint and shade

@function shade(
    $color,
    $percent
  ) {

  @return mix(#000, $color, $percent);
}
@function tint(
    $color,
    $percent
  ) {

  @return mix(#fff, $color, $percent);
}


/* -------------------------------- 
Breakpoints
-------------------------------- */
$S:     480px;   
$M:     768px;     
$L:     1024px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

// super light grid system

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}


body {
	font-family: $primary-font;
	padding-top: $header-height-small;
	@include MQ(L) {
		padding-top: $header-height;
	}
}

h1, h2, h3 {
	color: $color-1;
    margin: 0 0 25px 0;
}

// Navigation
.cd-auto-hide-header {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height-small;
	background-color: $color-1;
	@include clearfix;
	transform: translateZ(0);
	will-change: transform;
	transition: transform .5s;

	&.is-hidden {
		transform: translateY(-100%);
	}

	@include MQ(L) {
		height: $header-height;
	}
}

.cd-auto-hide-header .logo, 
.cd-auto-hide-header .nav-trigger {
	position: absolute;
	@include center(y);
}

.cd-auto-hide-header .logo {
	left: 5%;

	a, img {
		display: block;
	}
}

.cd-auto-hide-header .nav-trigger {
	display: table;
	height: 100%;
	padding: 0 1em;
	font-size: 1.2rem;
	text-transform: uppercase;
	text-decoration: none;
	color: $color-3;
	font-weight: bold;
	right: 0;
	border-left: 1px solid shade($color-3, 5%);

	span {
		display: table-cell;
		vertical-align: middle;
	}

	em, em::after, em::before {
		display: block;
		position: relative;
		height: 2px;
		width: 22px;
		background-color: $color-3;
		backface-visibility: hidden;
	}

	em {
		margin: 6px auto 14px;
		transition: background-color .2s;
	}

	em::before, em::after {
		position: absolute;
		content: '';
		left: 0;
		transition: transform .2s;
	}

	em::before {
		transform: translateY(-6px);
	}

	em::after {
		transform: translateY(6px);
	}

	@include MQ(L) {
		display: none;
	}
}

.cd-auto-hide-header.nav-open .nav-trigger {
	em {
		background-color: rgba($color-3, 0);
	}

	em::before {
		transform: rotate(-45deg);
	}

	em::after {
		transform: rotate(45deg);
	}
}

.cd-primary-nav {
	display: inline-block;
	float: right;
	height: 100%;
	padding-right: 5%;

	> ul {
		position: absolute;
		z-index: 2;
		top: $header-height-small;
		left: 0;
		width: 100%;
		background-color: $color-1;
		display: none;
		box-shadow: 0 14px 20px rgba(#000, .2);
		list-style: none;
		padding: 0;

		a {
			display: block;
			height: 50px;
			line-height: 50px;
			padding-left: 5%;
			color: $color-3;
			font-size: 1.6rem;
			border-top: 1px solid shade($color-3, 5%);
			text-decoration: none;

			&:hover, &.active {
				color: $color-2;
			}
		}
	}

	@include MQ(L) {
		display: table;

		> ul {
			display: table-cell;
			vertical-align: middle;
			position: relative;
			width: auto;
			top: 0;
			padding: 0;
			@include clearfix;
			background-color: transparent;
			box-shadow: none;

			li {
				display: inline-block;
				float: left;
				margin-right: 1.5em;

				&:last-of-type {
					margin-right: 0;
				}
			}

			a {
				height: auto;
				line-height: normal;
				padding: 0;
				border: none;
			}
		}
	}
	.dropdown {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		width: auto;
		top: 0;
		padding: 0;
		background-color: transparent;
		box-shadow: none;
		button {
			background: none;
			border: 0;
			font-size: 1.6rem;
			line-height: normal;
			color: #FFF;
			margin-left: 1.5rem;
		}
	}
}

.nav-open .cd-primary-nav ul, 
.cd-primary-nav ul:target {
	/* 
		show primary nav - mobile only 
		:target is used to show navigation on no-js devices
	*/
	display: block;

	@include MQ(L) {
		display: table-cell;
	}
}


.propostas-home {
	padding: 60px 0;
}

.testimonial{
    margin-bottom: 10px;
}

    .testimonial-section {
        width: 100%;
        height: auto;
        padding: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        position: relative;
        border: 1px solid #fff;
    }
    .testimonial-section:after {
        top: 100%;
        left: 50px;
        border: solid transparent;
        content: " ";
        position: absolute;
        border-top-color: #fff;
        border-width: 15px;
        margin-left: -15px;
    }

    .testimonial-desc {
        margin-top: 20px;
        text-align:left;
        padding-left: 15px;
    }
        .testimonial-desc img {
            border: 1px solid #f5f5f5;
            border-radius: 150px;
            height: 70px;
            padding: 3px;
            width: 70px;
            display:inline-block;
            vertical-align: top;
        }

        .testimonial-writer{
            display: inline-block;
            vertical-align: top;
            padding-left: 10px;
        }

            .testimonial-writer-name{
                font-weight: bold;
            }

            .testimonial-writer-designation{
                font-size: 85%;
            }

            .testimonial-writer-company{
                font-size: 85%;
            }
    /*---- Outlined Styles ----*/
    .testimonial.testimonial-default{
        
    }
        .testimonial.testimonial-default .testimonial-section{
            border-color: #777;
        }

            .testimonial.testimonial-default .testimonial-section:after{
                border-top-color: #777;
            }

        .testimonial.testimonial-default .testimonial-desc{
            
        }

            .testimonial.testimonial-default .testimonial-desc img{
                border-color: #777;
            }

            .testimonial.testimonial-default .testimonial-writer-name{
                color: #777;
            }

    .testimonial.testimonial-primary{
        
    }
        .testimonial.testimonial-primary .testimonial-section{
            border-color: #337AB7;
            color: #286090;
            background-color: rgba(51, 122, 183, 0.1);
        }

            .testimonial.testimonial-primary .testimonial-section:after{
                border-top-color: #337AB7;
            }

        .testimonial.testimonial-primary .testimonial-desc{
            
        }

            .testimonial.testimonial-primary .testimonial-desc img{
                border-color: #337AB7;
            }

            .testimonial.testimonial-primary .testimonial-writer-name{
                color: #337AB7;
            }

    .testimonial.testimonial-info{
        
    }
        .testimonial.testimonial-info .testimonial-section{
            border-color: #5BC0DE;
            color: #31b0d5;
            background-color: rgba(91, 192, 222, 0.1);
        }

            .testimonial.testimonial-info .testimonial-section:after{
                border-top-color: #5BC0DE;
            }

        .testimonial.testimonial-info .testimonial-desc{
            
        }

            .testimonial.testimonial-info .testimonial-desc img{
                border-color: #5BC0DE;
            }

            .testimonial.testimonial-info .testimonial-writer-name{
                color: #5BC0DE;
            }


    .testimonial.testimonial-success{
        
    }
        .testimonial.testimonial-success .testimonial-section{
            border-color: #5CB85C;
            color: #449d44;
            background-color: rgba(92, 184, 92, 0.1);
        }

            .testimonial.testimonial-success .testimonial-section:after{
                border-top-color: #5CB85C;
            }

        .testimonial.testimonial-success .testimonial-desc{
            
        }

            .testimonial.testimonial-success .testimonial-desc img{
                border-color: #5CB85C;
            }

            .testimonial.testimonial-success .testimonial-writer-name{
                color: #5CB85C;
            }

    .testimonial.testimonial-warning{
        
    }
        .testimonial.testimonial-warning .testimonial-section{
            border-color: #F0AD4E;
            color: #d58512;
            background-color: rgba(240, 173, 78, 0.1);
        }

            .testimonial.testimonial-warning .testimonial-section:after{
                border-top-color: #F0AD4E;
            }

        .testimonial.testimonial-warning .testimonial-desc{
            
        }

            .testimonial.testimonial-warning .testimonial-desc img{
                border-color: #F0AD4E;
            }

            .testimonial.testimonial-warning .testimonial-writer-name{
                color: #F0AD4E;
            }

    .testimonial.testimonial-danger{
        
    }
        .testimonial.testimonial-danger .testimonial-section{
            border-color: #D9534F;
            color: #c9302c;
            background-color: rgba(217, 83, 79, 0.1);
        }

            .testimonial.testimonial-danger .testimonial-section:after{
                border-top-color: #D9534F;
            }

        .testimonial.testimonial-danger .testimonial-desc{
            
        }

            .testimonial.testimonial-danger .testimonial-desc img{
                border-color: #D9534F;
            }

            .testimonial.testimonial-danger .testimonial-writer-name{
                color: #D9534F;
            }

    /*---- Filled Styles ----*/
    .testimonial.testimonial-default-filled{
        
    }
        .testimonial.testimonial-default-filled .testimonial-section{
            color: #fff;
            border-color: #777;
            background-color: #777;
        }

            .testimonial.testimonial-default-filled .testimonial-section:after{
                border-top-color: #777;
            }

        .testimonial.testimonial-default-filled .testimonial-desc{
            
        }

            .testimonial.testimonial-default-filled .testimonial-desc img{
                border-color: #777;
                background-color: #777;
            }

            .testimonial.testimonial-default-filled .testimonial-writer-name{
                color: #777;
            }

    .testimonial.testimonial-primary-filled{
        
    }
        .testimonial.testimonial-primary-filled .testimonial-section{
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }

            .testimonial.testimonial-primary-filled .testimonial-section:after{
                border-top-color: #337AB7;
            }

        .testimonial.testimonial-primary-filled .testimonial-desc{
            
        }

            .testimonial.testimonial-primary-filled .testimonial-desc img{
                border-color: #2e6da4;
                background-color: #337ab7;
            }

            .testimonial.testimonial-primary-filled .testimonial-writer-name{
                color: #337AB7;
            }

    .testimonial.testimonial-info-filled{
        
    }
        .testimonial.testimonial-info-filled .testimonial-section{
            color: #fff;
            background-color: #5bc0de;
            border-color: #46b8da;
        }

            .testimonial.testimonial-info-filled .testimonial-section:after{
                border-top-color: #5BC0DE;
            }

        .testimonial.testimonial-info-filled .testimonial-desc{
            
        }

            .testimonial.testimonial-info-filled .testimonial-desc img{
                border-color: #46b8da;
                background-color: #5bc0de;
            }

            .testimonial.testimonial-info-filled .testimonial-writer-name{
                color: #5BC0DE;
            }


    .testimonial.testimonial-success-filled{
        
    }
        .testimonial.testimonial-success-filled .testimonial-section{
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }

            .testimonial.testimonial-success-filled .testimonial-section:after{
                border-top-color: #5CB85C;
            }

        .testimonial.testimonial-success-filled .testimonial-desc{
            
        }

            .testimonial.testimonial-success-filled .testimonial-desc img{
                border-color: #4cae4c;
                background-color: #5cb85c;
            }

            .testimonial.testimonial-success-filled .testimonial-writer-name{
                color: #5CB85C;
            }

    .testimonial.testimonial-warning-filled{
        
    }
        .testimonial.testimonial-warning-filled .testimonial-section{
            color: #fff;
            background-color: #f0ad4e;
            border-color: #eea236;
        }

            .testimonial.testimonial-warning-filled .testimonial-section:after{
                border-top-color: #F0AD4E;
            }

        .testimonial.testimonial-warning-filled .testimonial-desc{
            
        }

            .testimonial.testimonial-warning-filled .testimonial-desc img{
                border-color: #eea236;
                background-color: #f0ad4e;
            }

            .testimonial.testimonial-warning-filled .testimonial-writer-name{
                color: #F0AD4E;
            }

    .testimonial.testimonial-danger-filled{
        
    }
        .testimonial.testimonial-danger-filled .testimonial-section{
                color: #fff;
                background-color: #d9534f;
                border-color: #d43f3a;
        }

            .testimonial.testimonial-danger-filled .testimonial-section:after{
                border-top-color: #D9534F;
            }

        .testimonial.testimonial-danger-filled .testimonial-desc{
            
        }

            .testimonial.testimonial-danger-filled .testimonial-desc img{
                border-color: #d43f3a;
                background-color: #D9534F;
            }

            .testimonial.testimonial-danger-filled .testimonial-writer-name{
                color: #D9534F;
            }
