.form-inline {
	.search-input {
		width: 100% !important;
	}
	.search-input-box {
		padding-left: 0px !important;
		padding-right: 2px !important;
	}
}

.maplist {
	width: 320px;
	height: 200px;
 }
.media-avatar {
	float: left;
	margin-right: 10px;
}